* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141414;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
}


* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}